*{
  box-sizing: border-box;
}

body{
  background-color:#2f4f30;
  color: white;
}
.title{
  text-align: center;
  background-color: black;
}

.card-img{
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#card-computer,
#card-player{
  height: 250px;
}